

.card-trainer{
    display: block;
    max-width: 268px;
    border-radius: 20px;
    overflow: hidden; /*чтобы контент, который будет/может выходить за пределы карточки не было видно*/
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);


    position: relative;
}

.card-trainer::before{  /*Псевдоэлемент ::before в CSS используется для вставки контента перед содержимым выбранного элемента*/
    opacity: 0;
    content: ''; /*в бефор св-во контент нужно обязатлеьно, даже если пустое*/
    position: absolute;  /*растянули поверх всего блока(карточки)*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*таким образом растянули эл-т на всю ширину*/


    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);


    transition: all 0.2s ease-in;
}


.card-trainer-name{
    position: absolute;
    letter-spacing: 3px;
    opacity: 0;  /*при переходе из дисплей нон в дисплей блок нельзя будет анимировать плавный переход, 
    поэтому задали сначала опасити 0, чтобы потом проявлять*/
    
    
    /*Центрировать элемент с атрибутом position: absolute возможно, 
    присвоив свойствам top и left значение 50% и применив transform 
    с функцией translate(-50%, -50%) для компенсации сдвига на половину 
    его высоты и ширины.*/
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);  /*используют, чтобы отцентрировать элемент как по горизонтали, так и по вертикали в родительском контейнере*/


    font-family: var(--font-accent);
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    color: #fff;


    transition: all 0.2s ease-in;
}


.card-trainer:hover .card-trainer-name{  /*когда мы наводим на карточку, card-trainer-name...*/
    opacity: 1;
    top: 50%;
}


.card-trainer:hover::before{
    opacity: 1;
}


@media(hover: none) and (pointer: coarse){  /*применяется для устройств, которые не поодерживают ховер(телефоны) и используется тач(палец нпример)*/
    .card-trainer-name{
        opacity: 1;
        top: 50%;
    }

    .card-trainer::before{
        opacity: 1;
    }

}

@media(max-width:1000px){
    .card-trainer-name{
        font-size: 32px;
    }
}

@media(max-width:600px){
    .card-trainer-name{
        font-size: 26px;
    }

    .card-trainer{
        border-radius: 10px;
    }
}









